<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>campusMapSettings</key>
	<false/>
	<key>campusMapSettingsParkingLot</key>
	<true/>
	<key>campusMapSettingsMapRowChecked</key>
	<string>Hybrid</string>
	<key>volleyballIsOn</key>
	<true/>
	<key>academicIsOn</key>
	<true/>
	<key>artIsOn</key>
	<true/>
	<key>campusIsOn</key>
	<true/>
	<key>museumIsOn</key>
	<true/>
	<key>musicIsOn</key>
	<true/>
	<key>personnelIsOn</key>
	<true/>
	<key>theaterIsOn</key>
	<true/>
	<key>crossCountryIsOn</key>
	<true/>
	<key>basketballMenIsOn</key>
	<true/>
	<key>basketballWomenIsOn</key>
	<true/>
	<key>footballIsOn</key>
	<true/>
	<key>golfMenIsOn</key>
	<true/>
	<key>golfWomenIsOn</key>
	<true/>
	<key>soccerMenIsOn</key>
	<true/>
	<key>soccerWomenIsOn</key>
	<true/>
	<key>softballIsOn</key>
	<true/>
	<key>tennisMenIsOn</key>
	<true/>
	<key>tennisWomenIsOn</key>
	<true/>
	<key>wichitanNewsIsOn</key>
	<true/>
	<key>sportsNewsIsOn</key>
	<true/>
	<key>campusNewsIsOn</key>
	<true/>
	<key>sportsRefreshTime</key>
	<string>Pull to Refresh</string>
	<key>newsRefreshTime</key>
	<string>Pull to Refresh</string>
	<key>directoryRefreshTime</key>
	<string>Pull to Refresh</string>
	<key>eventsRefreshTime</key>
	<string>Pull to Refresh</string>
</dict>
</plist>
